#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 8rem;
  text-align: center;
  background-color: #0c0a09;
  overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.pointer {
  cursor: pointer;
}

/* TEXTO GRADIENT */
.loadingText {
  font-weight: 600;
  background: linear-gradient(45deg, #0a4320 0%, #166534 40%, #22c55e 60%, #166534 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradientTextAnim 2s infinite;
}

@keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  line-height: unset;
  background: linear-gradient(45deg, #166534 0%, #22c55e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: gradientTextAnim 20s infinite;
}

.SessionsBanner {
  height: 6em;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  border: 1px solid #166534;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 1em 0;
}
.SessionsBanner::-webkit-scrollbar {
  display: none;
}

.SessionCard {
  min-width: 100px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid #22c55e;
}
.SessionCard > p {
  margin: 0;
}

.logContainer {
  max-height: 80vh;
  overflow-y: scroll;
}

.card {
  padding: 2em;
}

.lineCard {
  display: flex;
  gap: 15px;
  position: relative;
  height: 2.5rem;
  margin: 3px;
  padding: 0 6px;
  border: 1px solid #166534;
}
.lineCard > * {
  margin: 0;
  align-self: center;
}
.lineN-date {
  margin-top: -1rem;
  font-size: 0.85rem;
  color: #166534;
}
.category {
  color: #166534;
}
.type {
  color: #22c55e;
  font-weight: 500;
}
.value {
  text-wrap: nowrap;
  width: 40rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
