#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 8rem;
  text-align: center;
  background-color: #0c0a09;
  overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.glow {
  pointer-events: none;
  position: absolute;
  top: -17em;
  left: -13em;
  height: 34em;
  width: 34em;
  background: radial-gradient(circle, #22c55e2e 0%, #00000000 50%, #00000000 100%);
  animation: glow 20s infinite;
}

@keyframes glow {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.pointer {
  cursor: pointer;
}

/* TEXTO GRADIENT */
.loadingText {
  font-weight: 600;
  background: linear-gradient(45deg, #0a4320 0%, #166534 40%, #22c55e 60%, #166534 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: gradientTextAnim 1s infinite;
}

@keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  line-height: unset;
  background: linear-gradient(45deg, #166534 0%, #22c55e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: gradientTextAnim 20s infinite;
}
.fileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fileData > p {
  margin: 0;
}

.SessionsBanner {
  height: 6em;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  border: 1px solid #166534;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 1em 0;
  position: relative;
}
.SessionsBannerHeader {
  height: 3em;
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 0;
  padding: 0 0.5em;
  margin-bottom: -1.5em;
}
.SessionsBannerTitle {
  color: #22c55e;
  text-align: left;
}
.SessionsBannerDescription {
  color: #166534;
  font-size: 0.85em;
  text-align: right;
}
.SessionsBanner::-webkit-scrollbar {
  display: none;
}

.SessionCard {
  text-align: left;
  font-size: 0.75em;
  min-width: 100px;
  padding: 0.25em 0.75em;
  margin: 0.5em;
  border: 1px solid #22c55e;
  transition: boder 0.3s ease-in;
}
.SessionCard > p {
  margin: 0;
}
.SessionCard:hover {
  /* min-width: 98px; */
  margin: calc(0.5em - 2px);
  border: 3px solid #22c55e;
}

.logContainer {
  max-height: calc(100vh - 16em);
  overflow-y: scroll;
}

.card {
  padding: 2em;
}

.lineCard {
  display: flex;
  gap: 15px;
  position: relative;
  height: 2.5rem;
  margin: 3px;
  padding: 0 6px;
  border: 1px solid #166534;
}
.lineCard > * {
  margin: 0;
  align-self: center;
}
.lineN-date {
  min-width: 7.9rem;
  /* margin-top: -1rem; */
  font-size: 0.85rem;
  color: #166534;
}
.category {
  color: #166534;
}
.type {
  color: #22c55e;
  font-weight: 500;
}
.value {
  text-wrap: nowrap;
  width: 40rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
